body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( 89.5deg,  rgba(51,102,153,1) 6.8%, rgba(102,51,153,1) 100.2% );
}

.app-container{
  max-width: 600px;
  /*height: 400px;*/
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
}

.app-header{
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient( 89.9deg,  rgba(255,90,109,1) 2.6%, rgba(119,76,231,1) 97.9% );
}

.app-title{
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}

.content-wrapper{
  display: flex;
  flex-direction: row;
}

.flex-column{
  padding: 25px 15px;
  max-width: 50%;
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
      flex-direction: column;
  }

  .flex-column{
    padding: 15px;
    max-width: 100%;
    flex: 1;
  }
}

.column-title{
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.3rem;
  color: #212121;
}

.input-field{
  display: flex;
  flex-direction: column;
  margin-block-end: 15px;
}

.input{
  height: 20px;
}

.form-label{
  margin-bottom: 7px;
  font-size: 0.9rem;
}

.form-btn{
  width: 100%;
  height: 46px;
  font-size: 1.1rem;
  background-color: blue;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.form-btn:hover{
  background-color: lightslategray;
}

.expense-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid lightgrey;
}

.expense-value{
  background-color: blue;
  border-radius: 4px;
  color: white;
  padding: 5px;
}

.budget{
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
}

.budget-primary{
  background-color: lightblue;
}

.left-primary{
  background-color: aquamarine;
}

.left-warning{
 background-color: yellow;
}

.left-danger{
  background-color: red;
}